.header {
    background: url(../components_img/headerimg.jpg);
    position: sticky;
    z-index: 2;
    top: 0;
    transition: 0.3s ease-in-out;
    height: 80px;
}

.scrolled {
    height: 60px;
    background: #142850;
    transition: .3s ease-in-out;
}

.container-menu {
    display: none;
}

.navbar-toggler {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    transition: color;
    font-family: 'Quicksand', sans-serif;
}

.navbar-toggler:hover {
    color: #1f1f1f;
    background: #fff;
}

.navbar-toggler:active {
    opacity: 0.8;
    position: fixed;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;
}

.nav {
    width: 40%;
}

.nav-list {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 120px;
}

.btn.btn-log {
    background-color: WHITE;
}

.btn.btn-register {
    BACKGROUND-COLOR: #276179;
    color: white;
}

.nav-link a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.nav-link a:hover {

    transition: 0.3s;
    color: #1f1f1f;
    background: #fff;
}

.header-page__link:hover {
    color: #1f1f1f;
    background: #fff;
}

.header-page__link:active {
    opacity: 0.8;
}


.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #1f1f1f;
    background: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.nav-link:active {
    opacity: 0.8;
}

.navbar-nav {
    position: absolute;
    background-color: #0d1420;
}
